.appContainer {
  float: left;
  width: 33.33%;
  padding: 8px 16px;
  box-sizing: border-box;

  .app {
    height: 256px;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 3px;
    color: inherit;
    cursor: pointer;
    height: 100%;
    box-shadow: 0 4px 8px -2px rgba(9,30,66,.28), 0 0 1px rgba(9,30,66,.3);
    text-align: center;

    &:hover {
      background: #f4f5f7;
    }

    .imgContainer {
      margin-top: 24px;
      height: 160px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      > img {
        max-width: 40%;
        max-height: 160px;
      }
    }

    > h4 {
      margin-bottom: 16px;
      text-align: center;
    }
  }
}